.detalle{
  text-align: center;  
}

h6, label{
    text-align: center;
}

#tabla{
  width: 100%;
  text-align: center;
}

#tabla1{
  width: 100%;
  text-align: center;
}
#tabla2 {
  width: 100%;
  text-align: center;
}
#tabla3 {
  width: 100%;
  text-align: center;
}

.tablas{
  text-align: center;
}

.efectividad{
  margin: 20px;
}

.logoEfectividad{
  text-align: center;
  /* color: green; */
}

.ok{
  color: green;
}

.advertencia{
  color:gold;
}

.error{
  color: red;
}

.gris{
  color: #BDBDBD;
}