.detalle{
  text-align: center;  
}

h6, label{
    text-align: center;
}

#tabla{
  width: 100%;
  text-align: center;
}

#tabla1{
  width: 100%;
  text-align: center;
}
#tabla2 {
  width: 100%;
  text-align: center;
}

.tablas{
  text-align: center;
}